/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
}


/*
 * Base structure
 */

.cover-container {
    max-width: 65em;
}

.cover-container-wide {
    max-width: 80em;
}

/* Thin out the marketing headings */
.section-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

/* Eye icon in password field */
.input-group-addon i {
    margin-left: -30px;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    font-size: large;
    color: #6c757d;
  }